MONGODB_URI="your mongodb URI"

ENVIRONMENT='development'
API_URL='your api url'
NPS_API = "your api key"
GEOAPIFY_KEY = "your api key"
GOOGLE_PLACES_API_KEY = 'your api key'
MAPBOX_API_KEY = "your api key, starts with pk..."

X_RAPIDAPI_KEY = "your api key"
MAPBOX_ACCESS_TOKEN = "your api key, starts with pk..."
MAPBOX_DOWNLOADS_TOKEN="your api key, starts with sk..."

WEB_CLIENT_ID="962352557394-..................apps.googleusercontent.com"
ANDROID_CLIENT_ID="962352557394-........................apps.googleusercontent.com"
