<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Display a map</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map">
      <div style="z-index: 990">
        <input
          type="number"
          value="23"
          oninput="render()"
          id="longitude"
          placeholder="longitude"
        />
        <input
          type="number"
          value="45"
          oninput="render()"
          id="latitude"
          placeholder="latitude"
        />
      </div>
    </div>
    <script>
      function render() {
        var MAPBOX_ACCESS_TOKEN =
          "pk.eyJ1IjoiYW5kcmV3Ymllcm1hbiIsImEiOiJjbDhwYTVtc3kwMGprM3Buejg3d2doa2pvIn0.F_D3I0KRlQkQK70DkK7MlQ";

        mapboxgl.accessToken = MAPBOX_ACCESS_TOKEN;
        var map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/streets-v11",
          center: [78, 9],
          zoom: 11.15,
        });
        console.log(map);

        map.on("load", function () {
          map.addSource("openstreetmap", {
            type: "vector",
            url: "mapbox://mapbox.mapbox-streets-v7",
          });
          map.addLayer({
            id: "openstreetmap",
            type: "line",
            source: "openstreetmap",
            "source-layer": "road",
            layout: {
              "line-cap": "round",
              "line-join": "round",
            },
            paint: {
              "line-color": "#888",
              "line-width": 1,
            },
          });
        });
      }
      render();
    </script>
  </body>
</html>
