.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    width: 100%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }