# Docker related
docker-compose.yml

# Vite TanStack codegen
routeTree.gen.ts

# Node modules and package files
node_modules/
package-lock.json
package.json

# Next.js build directory
.next/
.vercel/

# Vite build directory
dist/

# README and other markdowns might be formatted, but if you're facing errors, you can ignore them
README.md

# Configuration files
# server/.eslintrc.js
server/nodemon.json
server/package-lock.json
server/package.json

# Client
# client/.eslintrc.js
client/package-lock.json
client/package.json

# Service account and other JSONs that shouldn't be tampered with
server/serviceAccountKey.example.json

# Binary files and other misc files (if any)
*.jpg
*.png
*.gif
*.pdf
*.key

# Any build or dist directory
dist/
build/
