—————————EXPO CLIENT ENV ———————————
NODE_ENV='development'
EXPO_PUBLIC_CLIENT_URL="Your client url"
EXPO_PUBLIC_API_URL="Your api url"
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN="Your api key, starts with pk..."
EXPO_PUBLIC_ANDROID_CLIENT_ID="962352557394-........................apps.googleusercontent.com"
EXPO_PUBLIC_IOS_CLIENT_ID="962352557394-........................apps.googleusercontent.com"
MAPBOX_DOWNLOADS_TOKEN="Your api key, starts with sk..."
EXPO_PUBLIC_BUGSNAG_API_KEY="Bugsnag api key"

