—————————Client Env ———————————
MONGODB_URI="Your mongodb URI"
CLIENT_URL="Your client url"
NODE_ENV='development'
API_URL='Your api url'
NPS_API = "Your api key"
GEOAPIFY_KEY = "Your api key"
GOOGLE_PLACES_API_KEY = 'Your api key'
MAPBOX_API_KEY = "Your api key, starts with pk..."
OPENWEATHER_KEY = "Your api key"
X_RAPIDAPI_KEY = "Your api key"
MAPBOX_ACCESS_TOKEN = "Your api key, starts with pk..."
MAPBOX_DOWNLOADS_TOKEN="Your api key, starts with sk..."
WEB_CLIENT_ID="962352557394-..................apps.googleusercontent.com"
ANDROID_CLIENT_ID="962352557394-........................apps.googleusercontent.com"
IOS_CLIENT_ID="962352557394-........................apps.googleusercontent.com"
FIREBASE_API_KEY = 'Your api key'
FIREBASE_AUTH_DOMAIN = "Your auth domain"
FIREBASE_PROJECT_ID = "Your firebase project id"
FIREBASE_STORAGE_BUCKET = "Your firebase_storage_key_link"
FIREBASE_MESSAGING_SENDER_ID = "Your firebase_messaging_sender_ID"
FIREBASE_APP_ID = "Your firebase app id"
FIREBASE_MEASUREMENT_ID = "Your firebase_measurement_id"