—————————VITE CLIENT ENV———————————
NODE_ENV='development'
VITE_PUBLIC_APP='vite'
VITE_PUBLIC_CLIENT_URL="Your client url"
VITE_PUBLIC_API_URL="Your api url"
VITE_PUBLIC_MAPBOX_ACCESS_TOKEN="Your api key, starts with pk..."
VITE_PUBLIC_WEB_CLIENT_ID="962352557394-..................apps.googleusercontent.com"

