—————————Server Env ———————————
BUCKET_ACCESS_KEY_ID="The bucket access key ID"
BUCKET_SECRET_KEY="The bucket secret key"
GOOGLE_CLIENT_SECRET="The google client secret"
JWT_SECRET="The JWT secret"
JWT_VERIFICATION_KEY="The JWT verification key"
MAPBOX_ACCESS_TOKEN="The mapbox access token"
OPENAI_API_KEY="The openAI api key"
OPENWEATHER_KEY="The openweathermap key"
REFRESH_TOKEN_SECRET="The refresh token secret"
SEND_GRID_API_KEY="The send grid api key"
STMP_PASSWORD="The stmp password"
VECTORIZE_API_KEY="The vectorize api key"
WORKERS_AI_API_KEY="The workers AI api key"
X_AMZ_SECURITY_TOKEN="The x amz security token"