MONGODB_URI="MONGO URI"

-------------------------------------
Create .env file and put them on .env
-------------------------------------
OPENWEATHER_KEY=PKomsowqnmdsiwjnmdjewn
WEATHER_WEEK_URL=https://api.openweathermap.org/data/2.5/forecast
WEATHER_URL=https://api.openweathermap.org/data/2.5/weather