name = "packrat-api"
main = "src/index.ts"
compatibility_date = "2024-03-14"
# compatibility_flags = ["nodejs_compat"] # Sometimes this is needed for tests
node_compat = true

# Preview environment
[env.preview]
[[env.preview.d1_databases]]
binding = "DB"
database_name = "preview"
database_id = ""

[env.preview.ai]
binding = "AI"

[[env.preview.vectorize]]
binding = "VECTOR_INDEX"
index_name = "vector-index-preview"

[env.preview.vars]
NODE_ENV="preview"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
STMP_EMAIL=""
STMP_PASSWORD=""
JWT_SECRET=""
SEND_GRID_API_KEY=""
MAPBOX_ACCESS_TOKEN=""
OSM_URI=""
WEATHER_URL=""
OPENWEATHER_KEY=""
VECTORIZE_API_KEY=""
VECTOR_INDEX="vector-index-preview"
WORKERS_AI_API_KEY=""
CLOUDFLARE_ACCOUNT_ID=""

OPENAI_API_KEY=""

BUCKET_ENDPOINT=""
BUCKET_NAME="packrat-scrapy-bucket"
BUCKET_REGION="auto"
BUCKET_SERVICE="s3"
BUCKET_ACCESS_KEY_ID=""
BUCKET_SECRET_KEY=""
BUCKET_SESSION_TOKEN=""
AWS_SIGN_ALGORITHM="AWS4-HMAC-SHA256"
X_AMZ_SECURITY_TOKEN="x-amz-security-token"

# Production environment
[env.production]
[[env.production.d1_databases]]
binding = "DB"
database_name = "production"
database_id = ""

[env.production.ai]
binding = "AI"

[[env.production.vectorize]]
binding = "VECTOR_INDEX"
index_name = "vector-index"

[env.production.vars]
NODE_ENV="production"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
STMP_EMAIL=""
STMP_PASSWORD=""
JWT_SECRET=""
SEND_GRID_API_KEY=""
MAPBOX_ACCESS_TOKEN=""
OSM_URI=""
WEATHER_URL=""
OPENWEATHER_KEY=""
VECTORIZE_API_KEY=""
VECTOR_INDEX="vector-index"
WORKERS_AI_API_KEY=""
CLOUDFLARE_ACCOUNT_ID=""

OPENAI_API_KEY=""

BUCKET_ENDPOINT=""
BUCKET_NAME="packrat-scrapy-bucket"
BUCKET_REGION="auto"
BUCKET_SERVICE="s3"
BUCKET_ACCESS_KEY_ID=""
BUCKET_SECRET_KEY=""
BUCKET_SESSION_TOKEN=""
AWS_SIGN_ALGORITHM="AWS4-HMAC-SHA256"
X_AMZ_SECURITY_TOKEN="x-amz-security-token"