name = "packrat-api"
main = "src/index.ts"
compatibility_date = "2024-03-14"
# compatibility_flags = ["nodejs_compat"] # Sometimes this is needed for tests
node_compat = true

# Preview environment
[env.preview]
[[env.preview.d1_databases]]
binding = "DB"
database_name = "preview"
database_id = ""

[[env.preview.r2_buckets]]
binding = 'GEOJSON_BUCKET' 
bucket_name = 'packrat-geojson-bucket-preview'

[env.preview.ai]
binding = "AI"

#[[env.preview.vectorize]]
#binding = "VECTOR_INDEX"
#index_name = "vector-index-preview"

[env.preview.vars]
APP_URL=""
AWS_SIGN_ALGORITHM="AWS4-HMAC-SHA256"
BUCKET_ENDPOINT=""
BUCKET_NAME="packrat-scrapy-bucket"
BUCKET_REGION="auto"
BUCKET_SERVICE="s3"
BUCKET_SESSION_TOKEN=""
GOOGLE_CLIENT_ID=""
NODE_ENV="preview"
VECTOR_INDEX="vector-index-preview"
OSM_URI=""
STMP_EMAIL=""
WEATHER_URL="https://api.openweathermap.org/data/2.5/forecast"


# Production environment
[env.production]
[[env.production.d1_databases]]
binding = "DB"
database_name = "production"

[[env.production.r2_buckets]]
binding = 'GEOJSON_BUCKET' 
bucket_name = 'packrat-geojson-bucket-production'

[env.production.ai]
binding = "AI"

#[[env.production.vectorize]]
#binding = "VECTOR_INDEX"
#index_name = "vector-index-production"

[env.production.vars]
APP_URL=""
AWS_SIGN_ALGORITHM="AWS4-HMAC-SHA256"
BUCKET_ENDPOINT=""
BUCKET_NAME="packrat-scrapy-bucket"
BUCKET_REGION="auto"
BUCKET_SERVICE="s3"
BUCKET_SESSION_TOKEN=""
GOOGLE_CLIENT_ID=""
NODE_ENV="production"
VECTOR_INDEX="vector-index-production"
OSM_URI=""
STMP_EMAIL=""
WEATHER_URL="https://api.openweathermap.org/data/2.5/forecast"
