name = "packrat-api"
main = "src/index.ts"
compatibility_date = "2024-03-14"
compatibility_flags = ["nodejs_compat"] # Sometimes this is needed for tests
# node_compat = true

logpush = true

[[ d1_databases ]]
binding = "DB"
database_name = "production"
database_id = "3f9677cd-7dd9-4a2c-92c6-be5dbbf47baa"

[ai]
binding = "AI"

[[vectorize]]
binding = "VECTOR_INDEX"
index_name = "vector-index"

[[queues.producers]]
queue = "etl-queue"
binding = "ETL_QUEUE"

[[queues.consumers]]
queue = "etl-queue"
max_batch_size = 10
max_batch_timeout = 5

[[r2_buckets]]
bucket_name = "etl-bucket"
binding = "ETL_BUCKET"

# Add vars below
# [vars]
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""
# STMP_EMAIL=""
# STMP_PASSWORD=""
# JWT_SECRET=""
# SEND_GRID_API_KEY=""
# MAPBOX_ACCESS_TOKEN=""
# OSM_URI=""
# WEATHER_URL=""
# WEATHER_WEEK_URL=""
# OPENWEATHER_KEY=""
# VECTORIZE_API_KEY=""
# AI_API_KEY=""
# CLOUDFLARE_ACCOUNT_ID=""