{
    "presets": [
        "next/babel",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-syntax-flow",
        ["module-resolver", {
            "alias": {
                "@env": "./envResolver.ts"
            }
        }]
    ]
}
