—————————NEXT CLIENT ENV———————————
NODE_ENV='development'
NEXT_PUBLIC_APP='next'
NEXT_PUBLIC_CLIENT_URL="Your client url"
NEXT_PUBLIC_API_URL="Your api url"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="Your api key, starts with pk..."
NEXT_PUBLIC_WEB_CLIENT_ID="962352557394-..................apps.googleusercontent.com"

