.styled-table {
      border-collapse: collapse;
      margin: 15px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .styled-table thead tr {
      background-color: blue;
      color: #ffffff;
      text-align: left;
    }
    
    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }
    
    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid blue;
    }
    
    .styled-resizer {
      width: 10px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(50%);
      z-index: 1;
      touch-action :none;
      background: rgba(0,0,0,.1);
      transition: all .5s ease;
    }