body {
  background: hsla(0, 0%, 96%, 1) !important;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6F6F6", endColorstr="#E1DAE6", GradientType=1 );
}

*:focus {
  outline: none;
}
